.calculator {
  min-height: 525px;
  width: 400px;
  background-color: blueviolet;
  padding: 15px;
  border-radius: 11px;
  margin-top: 1rem;
  box-shadow: 6px 6px 4px lightsalmon;
}

.display {
  width: calc(100% - 20px);
  height: 140px;
  background-color: lightblue;
  margin-bottom: 1rem;
  font-family: 'Poppins', sans-serif;
  border-radius: 9px;
  padding: 10px;
  color: slateblue;
  text-align: right;
  font-size: x-large;
}

.keyboard {
  display: grid;
  gap: 10px;
  border-radius: 9x;
  background-color: darkorchid;
  padding: 10px;
}

.keyboard.columns-4 {
  grid-template-columns: repeat(4, 1fr);
}

.keyboard.columns-5 {
  grid-template-columns: repeat(5, 1fr);
}

.key {
  min-height: 80px;
  border-color: transparent;
  border-radius: 9px;
  font-size: x-large;
  background-color: darkslateblue;
  color: darksalmon;
}

.key.column-span-1 {
  grid-column: span 1;
}

.key.column-span-2 {
  grid-column: span 2;
}

.key.row-span-1 {
  grid-row: span 1;
}

.key.row-span-2 {
  grid-row: span 2;
}

.key.enter {
  background-color: black;
}

button, input {
  font-family: 'Poppins', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header h2 {
  text-align: center;
  margin: 2rem;
}

.footer {
  margin-bottom: 5px;
  text-align: center;
}